---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.author__avatar,
.author__avatar * {
  filter: none !important;
  -webkit-filter: none !important;
  opacity: 1 !important;
  transition: none !important;
}

.author__avatar:hover,
.author__avatar:hover * {
  filter: none !important;
  -webkit-filter: none !important;
  opacity: 1 !important;
}
.author__avatar img {
  max-width: 200px;
}



